*{
	margin:0;
	padding:0;
}

@font-face {font-family: 'iconfont';
    src: url('../images/font/iconfont.eot');
    src: url('../images/font/iconfont.eot') format('embedded-opentype'),
    url('../images/font/iconfont.woff') format('woff'),
    url('../images/font/iconfont.ttf') format('truetype'),
    url('../images/font/iconfont.svg#iconfont') format('svg');
}

a{
	text-decoration: none!important;
}
a:hover{
	color:darkgray!important;
}

a:link,a:visited{
	color:#5e5e5e;
	text-decoration: none;
}

body{
/*
	font-family:"微软雅黑";
	color: #14191e;
*/
}

.main{
	width:1200px;
	height:282px;
	margin:30px auto;
	position:relative;
	overflow:hidden;
}

.banner{
	width:1200px;
	height:282px;
	overflow:hidden;
	position:relative;
}

.banner-slide{
	width:1200px;
	height:282px;
	background-repeat:no-repeat;
	float:left;
	display:none;
}

.slide-active{
	display:block;
}

.button{
    position: absolute;
    transform:rotate(180deg);
    top: 50%;
    left: 244px;
    height: 80px;
    width: 40px;
    margin-top:-40px;
/*    background:url(../img/arrow.png) center center no-repeat;*/
}

.next{
	transform:rotate(0deg);
	left:auto;
	right:0;
}

.button:hover{
	background-color:#F9F0DA;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

.dots {
	position: absolute;
	bottom: 24px;
	right: 0;
	text-align: right;
	padding-right: 24px;
	line-height: 12px;
}

.dots span {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 8px;
	background-color: rgba(225, 225, 225, 0.9);
	cursor: pointer;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
}

.dots span.active{
	box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
	background-color: #ffffff;
}

/* menu-box */
.menu-box {
/*	background:rgba(225, 225, 225, 1);*/
	background:#F9F0DA;
	opacity: 1;
	position: absolute;
	left: 10%;
	top: 0px;
	width: 244px;
	height: 282px;
	z-index: 1;
}

.menu-content{
	background:rgba(225, 225, 225, 0.1);
	color: antiquewhite;
	font-family:等线 Light!important;
	position: absolute;
	left: 10%;
	top: 0px;
	width: 244px;
	height: 282px;
	z-index: 2;
	padding-top: 6px;
}
/**选项上边距位置*/
.menu-item{
	top: 7px;
	height: 64px;
	line-height: 66px;
	font-size: 20px;
	font-family:等线 Light!important;
	cursor: pointer;
	padding: 0 24px;
	position: relative;
}

.menu-item a{
	display: block;
	color: #fff;
	font-family:等线 Light!important;
	padding: 0 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	height: 63px;
	font-size:16px;
}

.menu-item:last-child a{
	border-bottom:none;
}

.menu-item i{
	position: absolute;
	right: 32px;
	top: 24px;
	color: rgba(255,255,255,0.90);
	font-size: 24px;
    top: 2px;
    font-style:normal;
    font-weight:normal;
    font-family:"iconfont";
}

.sub-menu {
	border:1px solid #d9dde1;
	background:#fff;
	position: absolute;
	left: 30%;
	top: 0px;
	width: 730px;
	height: 282px;
	z-index: 581;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.hide{
	display:none;
}

.inner-box{
	width:100%;
	height:100%;
	font-family: "等线 Light"!important;
	background:#F9F0DA;
	display:none;
}

.sub-inner-box{
	width: 652px;
	margin-left: 40px;
	overflow: hidden;
}

.title{
	color: #7ba7ab;
	font-size: 18px;
	line-height: 16px;
	margin-top: 32px;
	font-weight: bold;
	margin-bottom: 36px;
}

.sub-row{
	margin-bottom:30px;
}

.bold{
	font-weight:700;
}

.mr10{
	margin-right:10px;
}

.ml10{
	margin-left:10px;
}
.span-item{
	color:#7ba7ab;
	font-size: 18px;
	font-family: "等线 Light"!important;
}
.span-item:hover{
	color:#fff
}
